.App {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.312), rgba(0, 0, 0, 0.5)),
    url("../public/glassesImage/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
